/* @import url('halloween.css'); */
body {color:red;}
h2 {color:green;}
header h2 {color:black;}
#thirdLetterToGreen {color:black;}
p {color:blue;}
.two {color:black;}
nav a:link {color:white; background-color: red;}
nav a:hover {color:red; background-color: white;}
nav a:visited {color:white; background-color: red;}
header {text-align: center;}
nav ul li {list-style:none;}
nav a{text-decoration:none;}